src/__pycache__
src/msc/__pycache__
src/msc/utils/__pycache__
analysis
catboost_info
data
data_output
figures
metadata_tmp
.snakemake
.ipynb_checkpoints
models/**
!models/catboost.percent_phase_field_of_view:sar:series_description.pkl